solrserver:
  image: slidewiki/solr
  restart: on-failure:5
  container_name: solr
  expose:
    - "8983"
  environment:
    - VIRTUAL_HOST=solr.experimental.slidewiki.org
    - VIRTUAL_PORT=8983
    - LETSENCRYPT_HOST=solr.experimental.slidewiki.org
    - LETSENCRYPT_EMAIL=meissner@informatik.uni-leipzig.de
  external_links:
    - mongodb
  volumes: 
    - solr-data:/solr-data
